.admin-heading {
    text-align: center;
    margin-top: 10px;
}

.admin-left-content {
    float: left;
    margin: 10px;
    width: 200px;
    background-color: white;
}

button:focus {
    outline: none;
    color: green;
}

.content-list {
    border: none;
    background: none;
    padding: 10px 10px;
    margin-left: 20px;
    text-align: center;
    color: #595959;
}

.vl{
    border-left: 2px solid green;
    height: 700px;
    float: left;
}

hr {
    color: #000;
}

.admin-questions-list{
    width: 400px;
    float: left;
    margin-left: 350px;
    margin-top: 40px;
}

.admin-right-content {
    background-color: #859EBE;
    float: left;
    margin-left: 300px;
    margin-top: 40px;
}

.create-test-questions{
    width: 600px;
    float: left;
    margin-left: 220px;
    margin-top: 40px;
}

.map-questions{    
    padding: 7px;
    background-color: #EBEDEF;
}

.add-btn {
    background-color: #4CAF50;
    width: 150px;
    border: none;
    color: white;
    padding: 7px 25px;
    margin-top: 40px;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.create-test-form{
    width: 390px;
    height: 100px;
    padding: 10px;
    padding-left: 30px;
    margin-top: 10px;
}

.create-test-label{
    display: inline-block;
    width: 300px;
    font-size: 15px;
}

.create-test-input{
    width: 50px;
    margin: 5px;
    padding: 7px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    display: inline-block;
    background-color: #E6E7E7;
}

.create-test-radio{    
    margin: 7px;
}

.create-test-btn, .remove-data-btn{
    background-color: #4CAF50;
        width: 150px;
        margin: 0px 110px;
        margin-bottom: 10px;;
        border: none;
        color: white;
        padding: 7px 25px;
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;   
        border-radius: 3px;  
}

.remove-data-btn{
    margin-left: 200px;
    margin-top: 40px;
}

.create-test-btn:hover, .remove-data-btn:hover, .add-btn:hover{
    background-color: rgb(52, 144, 55);
}

.admin-add-data{
    padding: 30px;
}

.admin-input-box{
    width: 300px;
    margin: 10px 20px;
    padding: 7px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    display: inline-block;
    background-color: #E6E7E7;
}

.admin-remove-data{
    width: 600px;
    padding-top: 20px;
}