
.registration-main{
    display: block;
    width: 450px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.registration-heading{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #6C76A1;
    width: 490px;
    padding: 10px;
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.label{
    display: inline-block;
    width: 80px;
    font-size: 15px;
}

.name-box, .input-box{
    width: 150px;
    margin: 15px;
    padding: 7px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    display: inline-block;
    background-color: #E6E7E7;
}

.input-box{
    width: 330px;
}

.submit-btn{    
        background-color: #4CAF50;
        width: 200px;
        margin: 0px 125px;
        border: none;
        color: white;
        padding: 10px 25px;
        margin-top: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;        
}

.anchor-tag{
    text-align: center;
    margin-top: 30px;
    color: blue;
    text-decoration: none;
}

a{
    text-decoration: none;
}