
* {
    margin: 0;
    padding: 0;
}

#root{
    height: 100%;      
}

a{
    margin-top: 15px;
}
/********* header-footer ********/

.xoriant-image{
    height: 45px;
    width: 100px;    
}


.header{
    background-color: #222; 
}


.footer{
    width: 100%;
    background-color: #222;   
    padding: 7px 0px 15px 0px;    
    position: fixed;
    bottom: 0px;
    left: 0px;
}

/*********Login Page**********/
.reg-form-container, .login-form-container{
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #fff;
    padding: 40px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px #000;
}

.login-form-container{
    margin-top: 100px;
}

.reg-form-container{
    padding: 25px;
}

.login-container, .reg-container{
    background-image: url('/background.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Registration Page */

.welcome-text{
    margin-top: 250px;
    font-style: italic;
}

/*Instructions*/

.instructions{      
    height: 100%;  
    margin-top: 30px;
}

/**********Questions css***********/

.questions{
    float: left;
}

.checkbox-options {
    margin: 15px 0 15px 15px;
}

.radio-options {
    margin: 15px 0 15px 15px;
}

.input-checkbox {
    margin-right: 5px;
}

.Time {
    color: red;
    float: right;
    padding-right: 20px;
}

.logout-btn{
    margin:12px;
    background-color: #4CAF50 ;
    border: none;
    color: white;
    float: right;
}

/********Logout CSS********/

h4{
    text-align: center;
}

.logout {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 20px;
}
 