html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    background-color: #D5D9DF;
}

* {
    margin: 0;
    padding: 0;
}

#root{
    min-height: 100%;     
    background-image: url("/public/background.jpg");  
}



/********* header-footer ********/


img{    
    height: 40px;
    width: 120px;
}

.header {
    width: 100%;
    color: white;
    font-size: 30px;
    padding-top: 5px;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: rgb(76, 75, 82);
}

#footer {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(76, 75, 82);
    color: white;
    text-align: center;
}

/*********Login Page**********/

.r1,.r2{
    margin: 20px;
    margin-top: 0px;
}

.student{
    margin-right: 20px;
}

.aptitude-heading{   
    width: 300px;
    margin: 0px auto;
    padding-top: 20px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}

.login-root{
    width: 100%;
    height: 100%;    
    
}

.login-main{
    width: 350px;    
    padding-top: 10px;
    margin: 0px auto;    
    
}
.login {
    border-radius: 5px;
    background-color: #9CB0CB;
    padding: 50px;
    padding-bottom: 40px;
    width: 250px;
    margin: 0px auto;
    text-align: left;
    border: black;
}

.login-text{
    width: 250px;
    font-size: 15px;
}

.login-input {
    width: 250px;
    padding: 8px 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
}

.login-btn,.start-btn {
    background-color: rgb(63, 175, 67);
    border: none;
    color: white;
    padding: 10px 25px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
}

.start-btn{
    width: 150px;
}

.start-btn-div{
    width: 150px;
    margin: 0px auto;
}

.login-btn:hover{
    background-color: rgb(52, 144, 55);
}

.instructions {
    margin: 0px auto;
    width: 400px;
    padding: 20px ;
    text-align: left;
}


/**********Questions css***********/

.questions{
    float: left;
}

.checkbox-options {
    margin: 15px 0 15px 15px;
}

.radio-options {
    margin: 15px 0 15px 15px;
}

.input-checkbox {
    margin-right: 5px;
}

.Time {
    color: red;
    float: right;
    padding-right: 20px;
}

.logout-btn{
    margin:12px;
    background-color: #4CAF50 ;
    border: none;
    color: white;
    float: right;
}

/********Logout CSS********/

h4{
    text-align: center;
}

.logout {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 20px;
}


/*******Responsive Css*********/

@media screen and (max-width:1024px) {

    .aptitude-heading{
        padding-top: 50px;
        font-size: 40px;
    }

    .login-main{
        padding-top: 10px;
        width: 500px;
        margin: 0px auto;
        
    }

    .login{
        font-size: 20px;
        width: 270px; 
        padding: 70px;
    }
    
    .login-btn, .login-input, .instructions{
        font-size: 20px;
        width: 270px;
    }

    .login-text{
        font-size: 25px;
    }

    .instructions{
        font-size: 20px;
    }
}

@media screen and (max-width:640px) {

    .aptitude-heading{
        padding-top: 10px;
        font-size: 30px;
    }

    .login-main{   
        padding-top: 10px;     
        width: 300px;
        margin: 0px auto;
    }

    .login{
        font-size: 15px;
        width: 200px; 
        padding: 40px;
    }

    .login-text{
        font-size: 15px;
    }
    
    .login-btn, .login-input, .instructions{
        font-size: 12px;
        width: 200px;
    }
   
}

@media screen and (max-width:360px) {    

    img{
        height: 40px;
        width: 120px;
    }

    .login-main{
        padding-top: 10px;
        width: 260px;
        margin: 0px auto;
    }

    .aptitude-heading{
        padding-top: 10px;
        width: 200px;
        font-size: 20px;
    }    

    .login{
        font-size: 10px;
        width: 200px; 
        padding: 30px;
    }

    .login-text{
        font-size: 15px;
    }
    
    .login-btn, .login-input, .instructions{
        font-size: 12px;
        width: 200px;
    }
    
}   